.ipynb_checkpoints
.idea
*.pyc

*.xml

node_modules/
package.json
package-lock.json

.DS_Store

figures/
experiment/webppl-exp1
experiment/webppl-exp2
experiment/webppl-exp3
experiment/webppl-input

javascript/.psiturk_history
javascript/server.log
